*{
    margin: 0;
    padding: 0;
}
#contant{
    display: flex;

}
img{
    height: 100px;
    width: 100px;
    margin: 50px;
    border: solid;
    border-radius: 2px;
    border-color: black;

    
 }
 img:hover{
    transform: scale(4);
 }

 a{
   border: solid;
   border-radius: 2px;
   border-color: black;
   background-color: azure;

    margin: 15px;

 }
 body{
    background-color: aquamarine;
 }
 #menu{
    display: flex;
    top: 150px;
 }