@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}



.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
}


.home ul li {
    display: flex;
    gap: 15px;
    list-style: none;
    width: 14px;
    padding-top: 14px;
    font-weight: bold;
}


.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 75vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: gray;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}

.header>* {
    padding: 20px;

}

.spotifyPlaylist {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    overflow-y: scroll;
    max-height: 70vh;

}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card>* {

    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: 0;
    transition: ease-out;
}



.signup {

    background-color: rgb(34, 34, 34);
    font-weight: bolder;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;


}

button>* {
    margin: 0 15px;

}

.login {
    background-color: rgb(255, 255, 255);

    color: black;
    font-size: 16px;
    border-radius: 21px;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.signup:hover {
    font-size: 17px;
    color: white;
}

.login:hover {
   font-weight: bold;
   font-size: 17px;
    
}


.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(161, 255, 161);
    width: 100%;
    padding: 12px;
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 16px;
}